<div class="container" style="margin: 0 auto; width: 70%; height: 100%;">
<section class="marginT">
	<h3  style="margin: 0 auto; width: 80%; height: 100%;" class="mb-2">Cozy Space Near NRG Stadium</h3>
	
	<div class="d-flex flex-xl-row flex-column justify-content-center " style="margin: 0 auto; width: 80%; height: 100%;">
		<div>
			<img src="../assets/house4.jpg" class="mx-2 rounded" alt="..." height="101%" width="100%">
		</div>
		<div >
			<div class="container">
			  <div class="row">
			    <div class="col rounded"><img src="../assets/house4.jpg" class="mx-2 rounded " alt="..." height="100%" width="100%"></div>
			    <div class="col"><img src="../assets/house4.jpg" class="mx-2 rounded" alt="..." height="100%" width="100%">

			    </div>
			    <div class="w-100"></div>
			    <div class="col "><img src="../assets/house4.jpg" class="mx-2 mt-1 rounded" alt="..." height="100%" width="100%"></div>
			    <div class="col"><img src="../assets/house4.jpg" class="mx-2 mt-1 rounded" alt="..." height="100%" width="100%">
			    	<!-- <button class="centered">hello</button> -->
			    </div>
			  </div>
			</div>
		</div>
	</div>
</section>

<section class="marginT mb-5">

	<div class="d-flex flex-xl-row flex-column justify-content-center" style="margin: 0 auto; width: 70%; height: 100%;">
		<div class="d-flex flex-column flex-fill justify-content-start"  width="100%">
			<h4 class="mb-0">Entire Rental Unit in Houston, TX</h4>
			<div>4 Guest - 1 Bedroom - 2 Beds - 1 Bath</div>
			<hr/>
			<div class="d-flex flex-row">
				<img id='imFit'src="../assets/photos1.jpg" class="rounded-circle pe-1 object-fit-cover" alt="..." height= "100%" width="30rem">
				<div class="fw-bold">Owned by Vibi Media</div>

			</div>
			<div class="ms-4 ps-2">2 Years Hosting</div>
			<hr/>
			<div class="d-flex flex-row">
				<div class="d-flex flex-column mx-1">
					<div><i class="fa fa-bath mx-2"></i>Shower + Tub</div>
					<div><i class="fa fa-automobile mx-2"></i> Free Parking</div>
					<div class="div"><i class="fa-solid fa-wifi  mx-2"></i>Wifi</div>
					<div class="div"><i class="fa-solid fa-person-swimming  mx-2"></i>Pool</div>
					<div class="div"><i class="fa-solid fa-kitchen-set  mx-2"></i>Full Kitchen Set</div>
				</div>
				<div class="d-flex flex-column  ms-5 me-1">
					<div class="div"><i class="fa-solid fa-dumbbell  mx-2"></i>Gym</div>
					<div class="div"><i class="fa-regular fa-snowflake  mx-2"></i>Central AC</div>
					<div class="div"><i class="fa-solid fa-print  mx-2"></i>Ofiice Space & Printer</div>
					<div class=""><i class="fa-solid fa-mug-hot  mx-2"></i>Coffee Station</div>
					<div class="div"><i class="fa-solid fa-tv  mx-2"></i>Mounted TV in Bedroom</div>
					<!-- <i class="fa-solid fa-elevator"></i>
					<i class="fa-solid fa-toilet-paper"></i> -->
				</div>
				
			</div>
			<hr/>
			<div class="d-flex flex-row px-2 pb-5">Enjoy a stylish experience at this centrally-located place. 
				Positioned near all the downtown action but with the option for a quiet place to relax. 
				This home is perfect for those who want to be close to popular attractions and areas to 
				explore but far enough away that you still have a peaceful stay. With many popular sites 
				just minutes away, Decorated to ensure comfort, this home will provide what you need to 
				achieve relaxation and a sense of security.</div>

				<hr/>

				<div class="d-flex flex-row">
					<img src="../assets/IMG_0578.jpg" class=" pe-1 object-fit-cover" alt="..." height= "100%" width="300rem" >
					<img src="../assets/IMG_0579.jpg" class=" pe-1 object-fit-cover" alt="..." height= "100%" width="300rem">
				</div>
				<!-- <div class="d-flex flex-row">
					<img src="../assets/IMG_0578.jpg" class=" pe-1 object-fit-cover" alt="..." height= "100%" width="300rem" >
					<img src="../assets/IMG_0579.jpg" class=" pe-1 object-fit-cover" alt="..." height= "100%" width="300rem">
				</div> -->
	</div>
		<div>
			<div class="card mx-4 text-center border" style="width: 18rem; ">
	  			<!-- <img id='imFit'src="../assets/photos1.jpg" class="card-img-top" alt="..." height= "40%"> -->
	  			<div class="card-img-top" height= "40%">
	  				<div class="d-flex flex-start mx-2"><h4>$650 </h4>night</div>
	  				<div class="d-flex flex-row bg-white border mx-2 rounded w-80 justify-content-center">

        <!-- <input name="daterange"class="rounded ps-3" style="border: 0;" > -->
        <!-- <input type="text" ngxDaterangepickerMd [(ngModel)]="selected"  style="border: 0;" class="form-control rounded ps-3"/> -->
        <input type="text"
    ngxDaterangepickerMd
    [locale]="{format: 'MM/DD/YYYY', firstDay: 0}"
    [(ngModel)]="selected"
    placeholder="Check In - Check Out" 
    style="border: 0;"
    class="rounded ps-3"/>

    
    

     <!--  <button class='btn ra-blue ' >Book Now<i class="fa-solid fa-key px-2"></i></button> -->
   </div>
  <div class="d-flex flex-fill justify-content-center"> 
      <div class="dropdown py-2 pe-1">
          <div class="btn bg-transparent dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Guest
          </div>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item">1</a></li>
              <li><a class="dropdown-item">2</a></li>
              <li><a class="dropdown-item">3</a></li>
              <li><a class="dropdown-item">3</a></li>
            </ul>
       </div>
   </div>
</div>
	  				<div class="card-body">
	    			<h5 class="card-title">photos</h5>
	   					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	   						 <a href="#" class="btn ra-blue">Book It</a>
	  				</div> 
	        </div>
		
		</div>
	</div>
	</section>
		<div class="d-flex flex-row justify-content-center mx-5 mb-3 px-5">
			<iframe class="flex-fill" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13867.121454191034!2d-95.40718555!3d29.668147199999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1707533172760!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
</div>

<!-- <section class="marginT">
	
	<div class="d-flex flex-sm-row flex-column justify-content-center " style="margin: 0 auto; width: 70%; height: 100%;">
		<div>
			<img src="../assets/house4.jpg" class="mx-2" alt="..." height="100%" width="100%">
		</div>
		<div>
			<div class="container">
			  <div class="row">
			    <div class="col"><img src="../assets/house4.jpg" class="mx-2" alt="..." height="100%" width="100%"></div>
			    <div class="col"><img src="../assets/house4.jpg" class="mx-2" alt="..." height="100%" width="100%">
			
			    </div>
			    <div class="w-100"></div>
			    <div class="col "><img src="../assets/house4.jpg" class="mx-2 mt-3" alt="..." height="100%" width="100%"></div>
			    <div class="col"><img src="../assets/house4.jpg" class="mx-2 mt-3" alt="..." height="100%" width="100%">
			 
			    </div>
			  </div>
			</div>
		</div>
	</div>
</section> -->

