<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  /*:host {

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }*/
/*
  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }*/
  
 
 footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   border-top: solid 1px #d3d3d3;
  
}

.section_header{
  color: black;
}

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }
</style>



<!-- <div class="d-flex flex-column flex-md-row align-items-center px-md-5 mb-3 bg-white fixed-top padding1">
      <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/logo 15.PNG" alt="" width="8%" height=8%>
    </a>
  </div>
      <nav class="">
        <a class="p-2 text-dark text-decoration-none"  [routerLink]="['/booking']" href="/booking">Booking</a>
        <a class="p-2 text-dark text-decoration-none" href="#">Sevices</a>
        <a class="p-2 text-dark text-decoration-none" href="#">Support</a>
        <a class="p-2 text-dark text-decoration-none" href="#">Pricing</a>
      </nav>
     
    </div> -->

<!-- <div class="container">
  <nav class="navbar navbar-expand-lg bg-white fixed-top">
  
  
  <a class="navbar-brand " style="padding-left:15%;" href="#"><img src="../assets/logo20-trans.png" alt="" width="50%" height="50%"  ></a>

  <div class="collapse navbar-collapse justify-content-end " style="padding-right:15%;" id="navbarTogglerDemo03">
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home </a>
      </li>
       <li class="nav-item active">
        <a class="nav-link"  [routerLink]="['/booking']" href="/booking">Booking</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/room']" href="/room">Room</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link " href="#">Payment</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
 <!--  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
</div> --> 

<nav class="navbar navbar-expand-lg page-header">
  <div class="container-fluid">
    <a class="navbar-brand header-padding" [routerLink]="'/'" style="padding-left:15%;"><img src="../assets/logo20-trans.png" alt="" width="50%" height="50%"  ></a>

    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button class="navbar-toggler me-5" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end " style="padding-right:15%;">
      <ul class="navbar-nav alignEnd">
        <li class="nav-item active">
          <!-- Step 4: Close the menu when a link is clicked. -->
          <a class="nav-link" [routerLink]="'/'" (click)="isMenuCollapsed = true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/booking']" href="/booking" (click)="isMenuCollapsed = true">Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/room']" (click)="isMenuCollapsed = true">Room</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Payments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/forms']" (click)="isMenuCollapsed = true">Forms</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>


 <!--  <footer class="p-5 bg-light">
    <div class="row">
      <div class="col-1 offset-1 ">
          <img src="../../assets/logo20-trans.png" class="mt-5" height="25%" alt="..." >
           </div>
 <div class="col-1 align-text-center ">
        <h5 class="section_header text-center">Links</h5>
        <ul class="nav flex-column text-center">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

      <div class="col-1">
        <h5 class="section_header text-center">Community</h5>
        <ul class="nav flex-column text-center">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

      <div class="col-1 text-center">
        <h5 class="section_header text-center">Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

      <div class="col-1 text-center">
        <h5 class="section_header">Policy</h5>
        <ul class="nav flex-column ">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

      <div class="col-4 offset-1 d-inline d-xs-none">
   <form>
          <h5 class="text-dark">Subscribe to our newsletter</h5>
          <p class="text-dark">Monthly digest of whats new and exciting from us.</p>
          <div class="d-flex w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn ra-blue" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </footer> -->


  <footer class="p-5 bg-light">
  <div class="d-flex flex-md-row flex-column justify-content-center">

     <div class="mx-3  text-center">
          <img src="../../assets/logo20-trans.png" class="mt-5" height="25%" alt="..." >
           </div>

    <div class=" mx-3">
        <h5 class="section_header text-center">Links</h5>
        <ul class="nav flex-column text-center">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

     <div class="mx-5">
        <h5 class="section_header text-center">Community</h5>
        <ul class="nav flex-column text-center">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

       <div class="mx-4 text-center">
        <h5 class="section_header text-center">Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>


     <div class="mx-5 text-center">
        <h5 class="section_header">Policy</h5>
        <ul class="nav flex-column ">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>


    <div class=" d-xl-inline-flex  d-none mx-5">
   <form>
          <h5 class="text-dark">Subscribe to our newsletter</h5>
          <p class="text-dark">Monthly digest of whats new and exciting from us.</p>
          <div class="d-flex w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn ra-blue" type="button">Subscribe</button>
          </div>
        </form>
      </div>
  </div>


</footer>

<footer class="p-5 bg-light">
  <div class="d-flex flex-row justify-content-center align-content-center text-muted">
    &copy;Copyright Vibi Media LLC 2024
  </div>


</footer>

